*{
    margin: 0;
    padding: 0;
    font-family: 'brandon-grotesque', sans-serif;
}
a{
    text-decoration: none;
    cursor:pointer;
}
html {
    scroll-behavior: smooth;
  }
nav{
    position: relative;
    max-width: 100%;
    display: flex;
    z-index: 1;
    padding: 20px;
    justify-content: space-around;
}

.logo img{
    width: 40px;
}
.logo a:hover{
    opacity: 0.5;
    transition: 0.5s;
}
nav ul{
    margin: 0;
    display: flex;
    padding: 0;
    align-items: center;
}
nav ul li{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
    

}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s;
    color: rgb(37, 37, 37);
}
nav ul li a:hover{
    color: #a866ff;
    transition: 0.5s;
}
.menu-toggle{
    display: flex;
    flex-direction: column;
    margin: 14px;
    height: 20px;
    display: none;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -7px;
    top: -5px;
    z-index: 11;
    cursor: pointer;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(37, 37, 37);
    border-radius: 50px;
    transition: all 0.5s;
}

.menu-toggle :nth-child(3){
    width: 14px;
}

.menu-toggle span:nth-child(2){
    transform-origin: 0 0 ;
}

.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle span:nth-child(4){
    transform-origin: 0 100% ;
}

.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
}
.header-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position:relative;
    margin: 50px 100px;
}
.header-img img{
    width: 500px;

}
.header-text{
    width: 600px;
}
.header-text h1{
    margin-bottom: 10px;
}
.header-text p{
    margin-bottom: 30px;
    color: rgb(102, 102, 102);
}
.header-btn a{
    padding: 10px 40px;
    margin-right: 40px;
    border-radius: 50px;
    border: 1px solid #8b5bd8 ;
    text-decoration: none;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: #8b5bd8;
}

.header-btn a:hover{
    color: black;
    transition: all 0.5s;
    background-color: #fff;
    border: 1px solid #a866ff ;
}
.description{
    background: #9D50BB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    padding: 60px;
    justify-content: space-around;
    position: relative;
}
.card{
    width: 300px;
    border-radius: 20px;
    height: 300px;
    margin: 20px;
    background: #FAFAFA;
    padding: 30px;
    box-shadow: 0px 0px 20px #4e4e4eaf;
}
.card p{
    padding-top: 10px;
    font-size: 90%;
    text-align: center;
    margin-bottom: 20px;
    align-items: center;
}
.icondesc{
    margin-top: 30px;
    margin-bottom: 30px;
}
.icondesc i{
    padding: 30px;
    border-radius: 50%;
    background: #9D50BB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;    
}
.icon-link{
    margin-top: 60px;
}

.icon-link i{
    padding: 10px;
    border-radius: 50%;
    background-color: #8b5bd8;
    color: #fff;  
    margin: 28px;
    border: 1px solid #8b5bd8 ;
    transition: all 0.5s;
}
.icon-link i:hover{
    color: #6E48AA;
    background-color: #fff;
    transition: all 0.5s;
    border: 1px solid #6E48AA;
}
.hipotesis{
    margin-top: 40px;
    text-align: center;
    padding: 10px 300px;
    margin-bottom: 10px;
}
.data{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position:relative;
}
.data-text{
    width: 40%;
    padding: 50px 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 500px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 0px 40px rgba(166, 173, 201, 0.493);
}
.data-img img{
 width: 400px;
 margin: 80px;
 box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 0px 40px rgba(166, 173, 201, 0.493);
}
.data-text a{
    padding: 10px 20px;
    background-color: #6E48AA;
    border-radius: 500px;
    color: #fff;
    font-weight: 800;
    transition: 0.5s;
}
.data-text a:hover{
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 0px 40px rgba(166, 173, 201, 0.493);
    transition: 0.5s;
}
.data-text P{
    margin-bottom: 20px;
}
.statistic{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-top: 60px;
    
}
.card-statis{
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 60px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 0px 40px rgba(166, 173, 201, 0.493);

}
.card-statis h1{
    font-size: 20px;
}
.card-statis img{
    margin-bottom: 20px;
    width: 200px;
}
.map{
    height: 300px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 0px 40px rgba(166, 173, 201, 0.493);

}
.tim{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
    text-align: center;
    margin-bottom: 60px;
}
.profile {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 0px 40px rgba(166, 173, 201, 0.493);

}
.profile img{
    width: 100px;
    border-radius: 50%;
    margin: 20px;

}

.profile h1{
    margin-bottom: 20px;
    font-size: 15px;
}
.titletim{
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
}
.profile i{
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: #8b5bd8;
    color: #fff;
    transition: 0.5s;
}
.profile i:hover{
    color: #fff;
    background-color: #6E48AA;
    transition: 0.5s;
}
.card img{
    width: 300px;
    opacity: 0.5;
}
.card a{
    padding: 10px 20px;
    background-color: #452c6d;
    border-radius: 50px;
    color: #fff;
}
.card a:hover{
    background-color: #8b5bd8;
}
.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
    background-color: #272727;
}
.foot h1{
    color: rgb(197, 197, 197);
}
.bottom{
    margin-right: 60px;
}
.bottom p{
    width: 200px;
    font-size: 15px;
    color: rgb(119, 119, 119);
}
.bottom h1{
    margin-bottom: 20px;
}
.bottom  i{
    margin: 20px;
}
.bot {
    padding: 20px;
    text-align: center;
    color: #fff;
    background-color: rgb(24, 24, 24);
}
.kontak h1{
    margin-bottom: 20px;
}

.kontak p{
   padding-bottom:20px; 
   align-items: center;
   display: flex;
   color: rgb(119, 119, 119);
}
.kontak i{
    margin-right:20px;
     
}
 .bot a{
     color: #fff;
     text-decoration: underline;
 }
 .bot a:hover{
    color: #ddd;
 }
 .thanks {
     text-align: center;
     margin-bottom: 40px;
     padding: 60px;
     align-items: center;
     
     background-color: #272727;
     box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 0px 40px rgba(166, 173, 201, 0.493);
 }
 .thanks i{
     padding: 20px;
    color: #fff;
     border-radius: 50%;
    background-color: #272727; 
    background: #9D50BB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 }
 .titlethank{
     margin: 30px;
 }
 .titlethank h2{
     margin: 30px;
     color: rgb(255, 255, 255);
 }
 .parathank{
     margin: 5px 200px;
     font-size: 17px;
     color: rgba(219, 219, 219, 0.89);
     font-weight: 500;
 }

.react{
    text-align: center;
    padding-top: 50px;
    margin-bottom: 0;
    padding-bottom: 30px;
    height: 500px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 0px 40px rgba(166, 173, 201, 0.493);
    background-color: #fff;
}
.react p{
    margin: 20px;
    font-size: 20px;
}
#reactbtn p{
    background-color: #272727;
    padding: 10px 20px;
    color: #fff;
    border-radius: 50px;
}
.reactext a{
    text-decoration: underline;
    color: #272727;
}
 #box {
    width: 200px;
    height: 200px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 0px 40px rgba(166, 173, 201, 0.493);

    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;

}
.reactext{
    margin-top: 30px;
}
.reactext p{
    width: 80%;
    margin: auto;
}

#testbox {
    width: 200px;
    height: 200px;
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    display: none;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 0px 40px rgba(166, 173, 201, 0.493);

    margin: auto;
    position: relative; 
}

#startbox {
width: 200px;
height: 200px;
background: #9D50BB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: 0.5s;
display: none;
border-radius: 50%;
margin: auto;
position: relative; 
}
#startbox:hover{
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 0px 40px rgba(166, 173, 201, 0.493);
    transition: 0.5s;
}
#waitbox {
width: 200px;
height: 200px;
margin: auto;
background-color: #c62128;
background-image: linear-gradient(147deg, #c62128 0%, #a00000 74%);
border-radius: 50%;
box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 0px 40px rgba(166, 173, 201, 0.493);

display: none;
position: relative; 
}
#startbox p{
    padding-top: 85px;
    color: #FAFAFA;
    font-weight: 600;
}
#waitbox p{
    padding-top: 85px;
    color: #FAFAFA;
    font-weight: 600;
}
#testbox p{
    padding-top: 85px;
    color: #FAFAFA;
    font-weight: 600;
}
.profilpembimbing{
    width: 40%;
    height: 430px;
    margin: auto;
    margin-bottom: 60px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 0px 40px rgba(166, 173, 201, 0.493);
    padding: 40px;
    border-radius: 20px;
}
.profilpembimbing p{
    font-size: 85%;
    margin-bottom: 20px;
}
.profilpembimbing img{
    width: 40%;
    padding: 30px;
    border-radius: 50%;
}
.profilpembimbing a{
    padding: 5px 20px;
    color: #fff;
    background-color: #452c6d;
    border-radius: 50px;
}
.profilpembimbing a:hover{
    padding: 5px 25px;
    transition: 0.5s;
}
.guru{
    display: flex;
}
.pembimbing{
    text-align: center;
    margin: 30px;
}
.pembimbing h1{
    font-size: 35px;
}
.form{
    width: 180px;
}
.form-group{
    width: 100%;
    font-size: 20px;
}
.form-group input{
    width: 200px;
    margin-bottom: 20px;
    background-color: #585858;
    border: none;
}
.form h1{
    font-size: 26px;
}
.form-group p{
    color: rgb(119, 119, 119);
}
button[type="submit"]{
    width: 112%;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
